	html, body
	{
		height: 100%;
		margin:0;
		padding:0;
		border:0;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #181818;
		font-family: 'Didact Gothic', sans-serif;
		font-size: 100%;
		font-weight: 200;
		color: #FFF;
		width: 100%;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #ee0000;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		/* overflow: hidden; */
		margin: 0em auto;
		width: 90%;
	}

	.scrollToTop{
	width:50px; 
	height:50px;
	padding:10px; 
	text-align:center; 
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	bottom:75px;
	right:40px;
	z-index:99999;
	display:none;
}
	.scrollToTop:hover{
		text-decoration:none;
	}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}
	
	ul.actions
	{
	}
	
	ul.actions li
	{
		display: inline-block;
		padding: 0em 0.50em;
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 1em 2em 1em 2em;
		letter-spacing: 0.10em;
		margin-top: 2em;
		padding: 1.40em 3em;
		background: rgb(38, 81,168);
		border-radius: 5px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1em;
		color: #FFF;
	}
	
	.button-alt
	{
		padding: 1em 1em;
		border-color: rgba(0,0,0,.8);
		color: #FFF;
	}
		
/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,
	.box2,
	.box3,
	.box4
	{
		position:relative;
		width: 24%;
	}
	
	.box1,
	.box2,
	.box3
	{
		float: left;
		margin-right: 1em;
	}
	.box4
	{
		float: right;
	}
	
/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,
	.boxB,
	.boxC
	{
		position:relative;
		width: 30%;
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 3em;
	}
	
	.boxC
	{
		float: right;
	}
	

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox
	{
		position:relative;
		width: 45%;
		height:100%;
		padding-bottom:98px
	}
	.overHiden{position: relative; line-height: 20px; max-height: 40px;overflow: hidden;}
	.overHiden::after{content: "..."; position: absolute; bottom: 0; right: 0; padding-left: 40px;
	background: -webkit-linear-gradient(left, transparent, #fff 55%);
	background: -o-linear-gradient(right, transparent, #fff 55%);
	background: -moz-linear-gradient(right, transparent, #fff 55%);
	background: linear-gradient(to right, transparent, #fff 55%);
	}
	.tbox:nth-child(2n+1)
	{
		float: right;
	}

	.tbox:nth-child(2n)
	{
		float: left;
	}
	
	
	
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.7em;
	}
	
	.title .byline
	{
		font-size: 1.3em;
		color: rgba(255,255,255,0.60);
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#service
	{
		position: relative;
		padding: 5em 0em 7em 0em;
		background: #FFF;
	}
	
	#contactus
	{
		position: relative;
		padding: 5em 0em 7em 0em;
		background: #FFF;
	}
	#contactus .container h2
	{
		font-weight: bold;
		color: rgba(0,0,0,0.8);
		text-align: center;
		font-size: 2.7em;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		position: relative;
		padding: 5em 0em 7em 0em;
		background: #111111 url(../images/header-bg.jpg) no-repeat center;
		background-size: cover;
	}

	/* #header
	{
		position: relative;
		padding: 5em 0em;
	} */

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		float: left;
		top: 3.6em;
		left: 0;
	}
	
	#logo h1
	{
		font-size: 2.5em;
		color: #79C255;
	}
	
	#logo a
	{
		text-decoration: none;
		color: rgba(255,255,255,1);
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		float: right;
		top: 4.5em;
		right: 0;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		padding: 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1em;
		color: rgba(255,255,255,0.80);
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu .active a
	{
		background: #2651a8;
		border-radius: 6px;
		color: rgba(255,255,255,1);
	}
	
	#menu .icon
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		/* padding-top: 50em; */
		text-align: center;
	}
	
	#banner .title h2
	{
		font-size: 4em;
		font-family: 'Didact Gothic', sans-serif;
		color: #FFF;
		font-weight: 200;
	}
	
	#banner .title .byline
	{
		font-size: 2em;
	}
	
	#banner .button
	{
		margin-top: 2em;
		padding: 1.40em 3em;
		border-radius: 6px;
		font-weight: 700;
		font-size: 1em;
		
	}
	
	.banner
	{
		margin-bottom: 5em;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		background: #181818;
		font-family: 'Didact Gothic', sans-serif;
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(0,0,0,0.08);
		width: 90%;
	}
	
	#copyright p
	{
		text-align: center;
		font-size: 1em;
		color: rgba(255,255,255,0.3);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}


/*********************************************************************************/
/* aboutus                                                                       */
/*********************************************************************************/

	#aboutus
	{
		position: relative;
		padding: 7em 0em 7em 0em;
		background: #2651a8;
		background-size: cover;
		text-align: center;
	}
	
	#aboutus .container
	{
		width: 90%;
		padding: 0px;
		color: rgba(255,255,255,0.8);
	}
	
	#aboutus a
	{
		color: rgba(255,255,255,1);
	}
	
	#aboutus .button
	{
		background: #FFF;
		color: #2651a8;
	}


/*********************************************************************************/
/* Extra                                                                         */
/*********************************************************************************/

	#three-column
	{
		text-align: center;
		color: rgba(0,0,0,0.6);
	}

	#three-column .fa
	{
		display: block;
		padding: 1em 0em;
		color: rgba(0,0,0,1);
		font-size: 2em;
	}
	
	#three-column .title h2
	{
		font-weight: bold;
		color: rgba(0,0,0,0.8);
	}

	#three-column .title .byline
	{
		text-align: center;
		color: rgba(0,0,0,.5);
	}

	#two-column
	{
		text-align: center;
		color: rgba(0,0,0,0.6);
	}

	#two-column .fa
	{
		display: block;
		padding: 1em 0em;
		color: rgba(0,0,0,1);
		font-size: 2em;
	}
	
	#two-column .title h2
	{
		font-weight: bold;
		color: rgba(0,0,0,0.8);
	}

	#two-column .title .byline
	{
		text-align: center;
		color: rgba(0,0,0,.5);
	}
	
	@media only screen and (max-device-width: 500px) {
		.tbox
		{
			float: none;
			align: center;
			width: 100%;
			height: 100%;
			box-sizing: content-box
		}
		#banner .container{
			padding-bottom: 1em!important;
		}
		#menu li a, #menu li span
		{
			padding: 0.6em;
		}
　　}

	@media only screen 
	  and (min-device-width: 414px) 
	  and (max-device-width: 736px) 
	  and (-webkit-min-device-pixel-ratio: 3)
	  and (orientation: portrait) { 
	  	.tbox
		{
			float: none;
			align: center;
			width: 100%;
			height: 100%;
			box-sizing: content-box
		}
		#banner .container{
			padding-bottom: 1em!important;
		}
		#menu li a, #menu li span
		{
			padding: 0.6em;
		}
	}
	/*loading*/
	.loadEffect{
		width: 100px;
		height: 100px;
		position: relative;
		margin: 0 auto;
		margin-top:-50px;
		top:50%;
	}
	.loadEffect span{
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #2651a8;
		position: absolute;
		-webkit-animation: load 1.04s ease infinite;
	}
	@-webkit-keyframes load{
		0%{
			-webkit-transform: scale(1.2);
			opacity: 1;
		}
		100%{
			-webkit-transform: scale(.3);
			opacity: 0.5;
		}
	}
	.loadEffect span:nth-child(1){
		left: 0;
		top: 50%;
		margin-top:-10px;
		-webkit-animation-delay:0.13s;
	}
	.loadEffect span:nth-child(2){
		left: 14px;
		top: 14px;
		-webkit-animation-delay:0.26s;
	}
	.loadEffect span:nth-child(3){
		left: 50%;
		top: 0;
		margin-left: -10px;
		-webkit-animation-delay:0.39s;
	}
	.loadEffect span:nth-child(4){
		top: 14px;
		right:14px;
		-webkit-animation-delay:0.52s;
	}
	.loadEffect span:nth-child(5){
		right: 0;
		top: 50%;
		margin-top:-10px;
		-webkit-animation-delay:0.65s;
	}
	.loadEffect span:nth-child(6){
		right: 14px;
		bottom:14px;
		-webkit-animation-delay:0.78s;
	}
	.loadEffect span:nth-child(7){
		bottom: 0;
		left: 50%;
		margin-left: -10px;
		-webkit-animation-delay:0.91s;
	}
	.loadEffect span:nth-child(8){
		bottom: 14px;
		left: 14px;
		-webkit-animation-delay:1.04s;
	}
